body {
	background: rgb(255, 226, 106);
	color: black;
	font-size: 36px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
}

image {
	border: rgb(232, 111, 12);
	border-width: 20px;
}

#slogan {
	font-style: italic;
	font-weight: 700;
}