body {
	background: rgb(255, 226, 106);
	color: black;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
}

ul {
	list-style-position: inside;
}

.image {
	border: black;
	border-width: 20px;
}

#slogan {
	font-style: italic;
	font-weight: 700;
	text-decoration: underline;
}